#!/bin/bash

#gendocker_name=
#gendocker_cmd=
#gendocker_image=
#gendocker_timezone=
#gendocker_use_gui

#git_repo_target_dir=
#git_repo=

#pre_build_apt_get=(\
#)

#pre_build_workdir=
#pre_build_cmds=(\
#)

#build_workdir=
#build_cmds=(\
#)

#post_build_apt_get=(\
#)

#post_build_workdir=
#post_build_cmds=(\
#)
